In [1]:
# Print Hello World 
print("Hello World")

Hello World

In [7]:
Instructor= "Gaurav Kashyap"
# This is single line comments
print("Python by",Instructor,sep=" - ")

Python by - Gaurav Kashyap

In [9]:
# Variable -> Variable is the symbolic name that is the reference or pointer to an object
variable = "Greeting"
print("Hello,",variable)

Hello, Greeting

In [18]:
# Variable Numeric
a = 1
print(a)
print(type(a))

# 2 
b = 2.5
print(b)
print(type(b))

# 3 
c = "Gaurav"
print(c)
print(type(c))

# 4 
d = True
print(d)
print(type(d))

# 5 list 
e = ['Gaurav',4,5.3]
print(e)
print(type(e))

# 6 
p,q,r = 1,2,3
print(p,q,r)

1
<class 'int'>
2.5
<class 'float'>
Gaurav
<class 'str'>
True
<class 'bool'>
['Gaurav', 4, 5.3]
<class 'list'>
1 2 3

In [21]:
# Data type in python
a = 1
b = 1
print(a+b)

c = "1"
d = "1"
print(c+d)

2
11

In [32]:
# Integer 
a = 1
print(type(a))

# Float 
b = 2.4 
print(type(b))

# complex
c = complex(3,4)
print(c)

# Sequence: String, list, tuple
d= "Gaurav"
print(type(d))

# List
e = ["Apple","Grapes",34,3.5]
print(type(e))

# tuple 
f = (2,"Apple","Fig",3.5)
print(type(f))

# Boolean
bool1 =True
bool2 = False

print(type(bool1))

# Dictionary 
dict = {'Apple':'Save','Grapes':'Angur','Papaya':'Papita'}
print(type(dict))

# binary 
# Byte, bytearray, memoryview

byte1 = b"Madhav" 
print(type(byte1))

<class 'int'>
<class 'float'>
(3+4j)
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'dict'>
<class 'bytes'>

In [43]:
# Assignment 1
# Q:1 WAP that prints the following text exactly as it appears
# Python is fun.
#  "Quotes" and 'single quotes' can be tricky.
print("Python is fun.")
print(''' "Quotes" and 'single quotes' can be tricky.''')

# Q:2 For a business create 3 variables to store- name, age, city . Then print a sentence that uses these  variables.
name ="Gaurav"
age= 34
city = "Kanpur"
print(f"My name is {name},and I am {age} years old & I'm from {city}.")

Python is fun.
 "Quotes" and 'single quotes' can be tricky.
My name is Gaurav,and I am 34 years old & I'm from Kanpur.

In [51]:
 # Type casting -> It is used to convert the one data type in to another.
a = 1
print(type(a))
b  = "1"
print(type(b))
c = int(b) # for convert string into integer 

print(a + c)

# implicit casting
var1 = 10
var2  = 12.5
var3 = var1 + var2
print(var1 + var2)
print(type(var3))

# Explicit
s1 = 4
s2 = "4"
print(s1 + int(s2))

<class 'int'>
<class 'str'>
2
22.5
<class 'float'>
8

In [52]:
# Input function

name = input("Enter Your Name :")
print("Hello dear , ",name)

Enter Your Name : Gaurav

Hello dear ,  Gaurav

In [54]:
# Add two numbers by taking value from user
num1 = int(input("Enter value1 : "))
num2 = int(input("Enter value2 : "))
result =num1 + num2 
print(f"Addition of {num1} and {num2} is {result}")

Enter value1 :  4
Enter value2 :  3

Addition of 4 and 3 is 7

In [57]:
 # Assignment 2 
# Q 1 : WAP to input student name and marks of 3 subejcts . Print name & Percentage in output
student_name = input("Enter Your Name = ")
subject1 = int(input("Enter Marks Subject1 : "))
subject2 = int(input("Enter Marks Subject2 : "))
subject3 = int(input("Enter Marks Subject3 : "))

sum_marks = subject1 + subject2 + subject3
percent = sum_marks*100/300
print(f"Student Name is {student_name}.\nPercentage is {percent}.")

Enter Your Name =  Deepu
Enter Marks Subject1 :  40
Enter Marks Subject2 :  576
Enter Marks Subject3 :  545

Student Name is Deepu.
Percentage is 387.0.

Enter Your anme  Gaurav

In [60]:
# Q 2: WAP that collects multiple types of data (e.g name,age ,height and student status from user input, store them in dictionary , and prints out the collected data ?
# Initializing a dicitonary 
user_data = {}
user_data['name'] = input("Enter Your name : ")
user_data['age'] = int(input("Enter Your age : "))
user_data['height'] = float(input("Enter Your height : "))
user_data['student_status'] = bool(input("Enter Your Status : "))
print(user_data)

Enter Your name :  Gaurav
Enter Your age :  50
Enter Your height :  20
Enter Your Status :  Yes

{'name': 'Gaurav', 'age': 50, 'height': 20, 'student_status': True}

In [80]:
# Operators -> Operators are the special symbols/ Keywords that is used for operations on operand. 
# Types of Opertors.
# 1. Arithmetic Operators
# 2. Comparision Operators
# 3. Assignment Operators
# 4. Logical Operators
# 5. Bitwise Operators
# 6. Identity Operators
# 7. Membership Operators

# Arithmetic Operator -> Arithemetic operators are used with numeric values to perform mathematical operations sucha s addition,substraction, multiplication

a =5
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

# comparison Operators-> It is used to compares two values.
a = 6
b =4
print(a == b)
print(a>b)
print(a<b)
print(a != b)

# Assignment Operators- It is used to assign value to variable
a =10

# logical operators
# Rule for and
# 1. True + True = True
# 2. True + False = False
# 3. False + False = False
a = 10 
b =20
print(a<20 and b>10)
print(a==10 or a>b)

# Rule for or 
# 1. True + false = True

# Identity Operators -> is , is not
x = [1,2,3]
y = x
z = [1,2,3]
print(x is y)
print(x is z)

# Membership operators -> in , not in
my_list =['apple','orange','grapes']
print('apple' in my_list)

print('apple' not in my_list)

# Bitwise Operator -> AND, OR, XOR, NOT etc
a = 5
b = 2
print(a & b)

8
2
15
1.6666666666666667
1
2
125
False
True
False
True
True
True
True
False
True
False
0

In [ ]:
# Conditional statement in python
# 1. Conditional Statment Definition
# 2. Types of Conditional Statement 
# 3. Conditional Statement examples

In [81]:
# 1. if statment
a = 26
b = 105
if b > a:
    print("B is Greater")

B is Greater

In [82]:
# Q 1: 
temperator = 30
if temperator > 25:
    print("It is hot day")
else:
    print("It is cool day ")

It is hot day

In [84]:
 # Ternary operator
age = 16 
status = "Major" if age >= 18 else "Minor"
print(status)

Minor

In [85]:
# Q 1: What is expected output and reason ?
value =None
if value:
    print("Value is True")
else:
    print("Value is False")

Value is False

In [87]:
# Q 2: Write a simple program to determine if a given years is  a leap year
year = 2025
if (year % 400 ==0) or (year%4==0 and year%100 !=0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2025 is not a leap year.

In [107]:
# Q 3: Login Authentication using conditional statement
# Predefined credentials
correct_username = "admin"
correct_password = "1234"

# User input
username = input("Enter Your Username : ")
password = input("Enter Your Password : ")

# Authentication checks
if username == correct_username and password == correct_password:
    print("Both username and password are correct")
elif username == correct_username and password != correct_password:
    print("Username is correct but password is incorrect")
else:
    print("Username is incorrect")

Enter Your Username :  ad,om
Enter Your Password :  ado

Username is incorrect

In [114]:
# Q 4 : Admission Elgibility: A University has the following eligibilty criteria for admission:
# - Marks in Mathematics >= 65
# - Marks in Physics >= 55
# - Marks in Chemistry >= 50
# - Total marks in all three subjects>= 180 or total marks in mathematics and physics >=140
# wap that takes marks in three subjects as input and prints whether the student is eligible for admission

marks1 = int(input("Enter marks Mathematics = "))
marks2 = int(input("Enter marks Physics = "))
marks3 = int(input("Enter marks Chemistry = "))

total_marks = marks1 + marks2 + marks3
total_marks_mp = marks1+ marks2
if (total_marks >= 180 and marks1>=65 and marks2 >=55 and marks3 >=50 or total_marks_mp >= 140):
    print("Eligible for admission")
else:
    print("Not Eligible for admission")

Enter marks Mathematics =  50
Enter marks Physics =  60
Enter marks Chemistry =  300

Not Eligible for admission

In [115]:
 # Function : It is the block of code which is used to perform specific task .
# create function
def greetings():
    print("Welcome to the python course by Gaurav")
greetings()

Welcome to the python course by Gaurav

In [117]:
def add2numbers(a,b):
    print(a+b)
add2numbers(2,4)

6

In [126]:
# WAP to create a calculator that can perform at least five different
# mathematical operations such as addition , subtraction, multiplication,
# division and average. Ensure that the program is user -friendly , prompting for input and displaying the results clearly.
def calculator(num1,num2):
    try:
        add = num1 + num2
        sub = num1 - num2
        mul = num1 * num2
        div = num1 / num2
        average = num1+ num2/2
        return add,sub,mul,div,average
    except ZeroDivisionError:
        print("Error: cannot divide by zero")
# Call the function 
num1 =int(input("Enter the num1 : "))
num2 = int(input("Enter the num2 :"))
calculator(num1,num2)

Enter the num1 :  2
Enter the num2 : 5

(7, -3, 10, 0.4, 4.5)

In [139]:
# string -> it is the sequence of characters that are enclosed by single ,double and triple quotes.
# Q 1: Limit the decimal places to 2 digits using .format method and print result, for the variable 
pi = 3.141592
print("Value of pi upto 2 decimal places: {:.2f}".format(pi))
print(round(pi,2))

Value of pi upto 2 decimal places: 3.14
3.14

In [137]:
# Q 2: Extract characters from index 2 to 8 with step of 3 : 
# Given my_string = "Python Course" , slice characters from inodex 2 to 8,skipping every ther char.

my_string = "Python Course"
my_string[2:8:2]

'to '

In [143]:
# Q 3: Slice to get only the middle character(s): for my_string ="Madhav",use slicing to extract the middle character(s).
my_string = "Madhav" # 6 even
my_string2= "Madhava" # odd

def mid_str(word):
    middle = int(len(word)/2)
    if len(word)% 2 == 0:
        return word[middle-1:middle+1]
    else:
        return word[middle]
print(mid_str(my_string2))

h

In [145]:
# Q 4: Remove the first 3 and last 3 characters : Given my_string= "regression analysis" , remvoe
# the first 3 and last 3 characters.

my_string = "Regression Analysis"
print(my_string[3:-3])

ression Analy

In [157]:
# Q 5: Get the substring that starts 4 characters from the end to the last character : For my_string = "Classification" , slice the string 
# starting from the 4th character from the end to last character.
my_string = "Classification"
my_string[-4:]

'tion'

In [158]:
# Q 6 : How to reverse a string using python string methods
my_string = "Apple"
my_string[::-1]

'elppA'

In [162]:
# Q 7 : Write the python function to check if a string is a palindrome using string methods,

def is_palindrome(s):
    original_string= my_string
    reversed_string = my_string[::-1]
    if original_string == reversed_string:
        print("Palindrome")
    else:
        print("Not Palindrome")

# define
my_string = "ALA2"
# call 
is_palindrome(my_string)

Not Palindrome

In [167]:
# difference between find() and index() inpython
# efficient string concatenation method : why is usinf join()
# efficient thant usin  + for stirng concatenation in loop

In [168]:
# Loops :it is used to perform repetitive tasks efficiently without writing redundant code. they iterate a sequence (lik a listm tuple,or range)

In [3]:
# Assignment 5 
print("Hello")

Hello

In [8]:
i = 1
while i<4:
    print(f"Hello Madhav {i}",end = " ")
    i += 1

Hello Madhav 1 Hello Madhav 2 Hello Madhav 3

In [17]:
# Print star patterns - using loops
# *
# * * 
# * * *
# * * * *

n = 4
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end= " ")
    print()

*
* *
* * *
* * * *

In [21]:
n = 5
# for i in range(n,0,-1):
#     for j in range(1,i+1):
#         print("*", end= " ")
#     print()

for i in range(n,0,-1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [24]:
n = 5 
for i in range(1,n+1):
    print(' '* (n-i),end = "")
    print("*" * (2*i-1)) # print stars

    *
   ***
  *****
 *******
*********

In [28]:
# wap to find the factorial of a given number

def factorial(num):
    fact = 1
    if( num == 0 and num ==1):
        return 1
    else :
        for i in range(1,num+1):
            fact = fact * i
        return fact
factorial(5)

print(type(fact))

<class 'int'>

In [32]:
# Count the number of vowels in string 
def count_vowels(string):
    count = 0
    vowels = "aieouAIEOU"
    for char in string:
        if char in vowels :
            count +=1
    return count
string ="Gaurav"
count_vowels(string)

3

In [35]:
# Find the longest word in a sentence using a for loop
def find(word):
    words = sentence.split()
    longest_word = ""

    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

sentence = "Python by Gaurav Kashyap"
    
find(sentence)

'Kashyap'

In [60]:
# WAP to print first N numbets in the fibonacci sequence using a while loop
def fibonacci(num):
    a = 0 
    b = 1
    fib_series=0
    print(0 ,end =" " )
    print(1 ,end =" " )
    for i in range(2,num):
        fib_series = (a + b)
        print(fib_series, end = " " )
        a = b
        b = fib_series
    

c =fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [61]:
print("gauravKashyap")

gauravKashyap

In [68]:
n1 = "Gaurav"
n2 ="Kashyap"
print(n1,n2)

Gaurav Kashyap

In [120]:
# chap list 
list = ['apple','banana','grapes','orange']
list2 = [1,2,3,4]

print(list)
# list[1]
print(list[2])

print(type(list))
print(list[::-1])
list.insert(2,'Date')
print(list)
list.append(4)
print(list)
list.extend(list2)
print(list)
list.remove(2) # Remove particular value
print(list)
# list.pop()
# print(list)
# print(list.clear())
list.index('orange')

list.count(4)

list2.sort()
print(list2)

# reverse
print(list[::-1])

# copy
print(list)
list.copy()
print(list)

['apple', 'banana', 'grapes', 'orange']
grapes
<class 'list'>
['orange', 'grapes', 'banana', 'apple']
['apple', 'banana', 'Date', 'grapes', 'orange']
['apple', 'banana', 'Date', 'grapes', 'orange', 4]
['apple', 'banana', 'Date', 'grapes', 'orange', 4, 1, 2, 3, 4]
['apple', 'banana', 'Date', 'grapes', 'orange', 4, 1, 3, 4]
[1, 2, 3, 4]
[4, 3, 1, 4, 'orange', 'grapes', 'Date', 'banana', 'apple']
['apple', 'banana', 'Date', 'grapes', 'orange', 4, 1, 3, 4]
['apple', 'banana', 'Date', 'grapes', 'orange', 4, 1, 3, 4]

In [10]:
# Tuples in python
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

# create tuples using various method d
my_tuple1 = (1,"Madhav",True,13.4)
print(my_tuple1)

# 3 
my_tuple2 = tuple((1,5,9))
print(type(my_tuple2))
print(my_tuple2)

# single element
a = ("q",)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>
(1, 'Madhav', True, 13.4)
<class 'tuple'>
(1, 5, 9)
('q',)
<class 'tuple'>

In [22]:
# set 
my_set = {1,2,3,5,2}
print(my_set)
my_set.add(4)
print(my_set)

#union method -m Combine elements from 2 set 
set1 = {1,2,3}
set2 = {4,5,6}
union_set= set1.union(set2)
print(union_set)

# alternative 
union_set = set1 |set2
print(union_set)

# Intersection
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

difference_set = set1 - set2
print(difference_set)


# set common use case 
numbers = [1,2,3,4,5,]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{2, 3}
{1}
{1, 2, 3, 4, 5}

In [26]:
# Dictionary in Python
# A dictionary is a data structure in python that stores data in key-value pairs. Dicitonary 
# items(key-value par) are ordered, changeable 

# key : must be unique and immutable (strings,numbers ,or tupels).
# value = can be any data type does not need to be unique

# Create dictionary 
my_dict= {"key1":"value1","key2":"value2","key3":"value3"}
# Q1 : Simple dicitonary with three key-value pairs 
student = {
    1 : "Class-X",
    "name" : "Madhav",
    "age" : 20 
}
print(student)

my_dict = {} # empty dict


# method -2 using dict()
person = dict(name="Madhav", age=20,city="Mathura")
print(person)

print(person["name"])

{1: 'Class-X', 'name': 'Madhav', 'age': 20}
{'name': 'Madhav', 'age': 20, 'city': 'Mathura'}
Madhav

In [6]:
# Assignment -6 (List, Tuple,Set,Dict)
# Q 1 : Find the intersection (common elements ) of two Lists
list1 = [1,2,3,5,6,7]
list2 = [3,2,4,5,6,7]

intersection_list = set(list1).intersection(set(list2))
print(intersection_list)

{2, 3, 5, 6, 7}

In [11]:
# Q 1:
list1 = [1,2,3,4]
list2 = [2,3,4,5,6]
def intersection_loop(list1,list2):
    common_list = []
    for item in list1:
        if item in list2 and item not in common_list:
            common_list.append(item)
    return common_list
intersection_loop(list1,list2)

[2, 3, 4]

In [17]:
# Q 2: Find the most the frequent number 
numbers = [1,2,2,3,3,3,4,7,7,7,7]
def most_freq(list1):
    max_count=0
    most_freq = None
    for item in list1:
        count = list1.count(item)
        if count>max_count:
            max_count = count
            most_freq = item

    return most_freq
print(most_freq(numbers))

7

In [3]:
# Q 3 : find the cumulative sum of a list

numbers = [1,2,3,4]
def comulative_sum(numbers):
    cum_sum=[]
    total = 0
    for num in numbers:
        total +=num
        cum_sum.append(total)
    return cum_sum
print(comulative_sum(numbers))

[1, 3, 6, 10]